body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Roboto", sans-serif;
}

.container {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    object-fit: cover;
    min-height: 100vh;
    z-index: -1;
}

.logo {
    position: absolute;
    top: 2%;
    left: 7%;
    width: 240px;
}

.wrap-mid .h2 {
    position: absolute;
    top: 8px;
    left: 35px;
    font-size: 20px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

.wrap-mid .h2 img {
    margin-right: 10px;
}

.wrap-mid {
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 10px;
    padding: 20px;
    width: 85vw;
    margin-top: 115px;
    height: 67vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-mid {
    width: 47%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 6px;
}

.form-title {
    width: 100%;
    height: 20%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-mid h2 {
    font-size: 17px;
    color: #575962;
}

form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap-main-form {
    width: 70%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.child-form1 {
    display: flex;
}

.child-form1 p {
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -1px;
}

.right-form {
    width: 80%;
    padding-left: 22px;
}

.child-form2 {
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 12px;
    height: 34px;
}

input {
    outline: 0;
    width: 90%;
    padding-left: 8px;
    border: 0;
}

.CAPTCHA-area {
    width: 170px;
    margin-bottom: 14px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 12px;
    position: relative;
    border: 1px solid rgb(219, 219, 219);
}

.btn-reset {
    width: 40px;
    border-left: 1px solid rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}

.btn-reset:hover {
    transition: 0.8;
    background-color: rgb(238, 238, 238);
}

.btn-reset:active {
    transition: 0.5;
    scale: 0.97;
}

.btn-reset img {
    width: 36%;
}


.btn-form {
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    width: 122px;
    margin-left: -70px;
    position: relative;
    margin-top: 30px;
    height: 36px;
    text-align: center;
    box-shadow: rgba(0, 197, 220, 0.19) 0px 5px 10px 2px;
    background-color: #00c8df;
    border-radius: 4px;
    color: white;
    justify-content: center;
    align-items: center;
}

.ha-er {
    width: 100%;
    border-top: 1px dashed rgb(184, 184, 184);
    margin-top: 30px;
    height: 2px;
}

.btn-form:active {
    transition: 0.7;
    scale: 0.97;
}

.btn-form img {
    width: 20px;
    margin-right: 6px;
}

.footer {
    width: 100vw;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    font-size: 12px;
    height: 50px;
    justify-content: space-between;
}

.left-footer span {
    margin-left: 10px;
}

.left-footer p {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
}

.right-footer p {
    display: flex;
    align-items: center;
    width: max-content;
    margin-right: 40px;
    color: white;
}

.left-footer {
    width: 50vw;
    padding-left: 90px;
}

.left-footer span {
    color: #fd7e14;
}

.right-footer {
    width: 50vw;
    display: flex;
    padding-right: 90px;
    align-items: center;
    justify-content: flex-end;
}

.right-footer span {
    background-color: white;
    padding: 3px 10px;
    color: #e83e8c;
    border-radius: 4px;
    margin-left: 12px;
}

.right-footer img {
    width: 20px;
}

@media only screen and (max-width: 600px) {
    .form-mid {
        width: 96%;
        height: max-content;
        background-color: white;
        border-radius: 10px;
        margin-top: 10;
        padding: 6px;
        padding-bottom: 30px;
    }

    .wrap-mid .h2 {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 0px;
        font-size: 18px;
        display: flex;
        font-weight: 500;
        align-items: start;
    }

    .wrap-main-form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .wrap-mid {
        background-color: rgba(255, 255, 255, 0.747);
        border-radius: 10px;
        padding: 20px;
        width: 85vw;
        top: 0;
        margin-top: 105px;
        height: 80vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .CAPTCHA-area {
        width: 80%;
        margin-bottom: 14px;
        height: 70px;
        border-radius: 8px;
        overflow: hidden;
        margin-left: 12px;
        position: relative;
        border: 1px solid rgb(219, 219, 219);
    }

    .right-form {
        width: 80%;
        padding-left: 0px;
    }

    .btn-form {
        display: flex;
        cursor: pointer;
        outline: none;
        border: none;
        width: 122px;
        margin-left: 20px;
        position: relative;
        margin-top: 30px;
        height: 36px;
        text-align: center;
        box-shadow: rgba(0, 197, 220, 0.19) 0px 5px 10px 2px;
        background-color: #00c8df;
        border-radius: 4px;
        color: white;
        justify-content: center;
        align-items: center;
    }

    .footer {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        margin-top: auto;
        overflow: visible;
        align-items: center;
        font-size: 12px;
        height: max-content;
        justify-content: center;
    }
    
    .left-footer {
        width: 100vw;
        text-align: center;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-footer p {
        width: 100%;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
    }
    
    .right-footer {
        width: 100vw;
        display: flex;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
    }
}
